<div
  class="
    d-flex
    flex-column
    flex-shrink-0
    py-3
    position-fixed
    align-items-center
  "
  id="menu-navbar"
>
  <p class=" d-flex mb-3 mb-md-0 text-decoration-none clr-grey h3 "><%=t(:menu)%>
  </p>
  <hr>
  <ul class="nav flex-column mb-auto w-100">
    <% @categories.each do |category| %>
      <li class="menu-link">
        <span
          role='button'
          link="category-id-<%= category.id  %>"
          class="h5 link h-100 w-100"
        ><%= category.name %></span>
      </li>
    <% end %>
  </ul>
  <hr>
</div>

<div class=" d-flex flex-column flex-shrink-0 w-25 p-3 mb-3 " id="cart-block">
  <div class="text-center">
    <p class=" b-3 mb-md-0 text-decoration-none clr-grey h3 "><%=t(:cart)%>
    </p>
  </div>
  <div class=" d-flex overflow-auto p-1 mt-3 mb-md-0 mr-md-3 " id="cart">

  </div>
  <div class="mt-3 text-end pe-4">
    <span class=" text-decoration-none clr-grey h3 "><%=t(:total)%>:
      <span id="total-price">0</span>₽
    </span>
  </div>
  <%= link_to "#{t(:order)}", order_show_create_url, class: "float-end _btn-primary mt-3 me-4 w-75 mx-auto" %>
</div>

<div class="position-absolute align-items-center" id="menu">
  <% @dishes.each do |categories_id, dishes| %>
    <h3 id="category-id-<%= categories_id  %>"><%= @categories[categories_id-1].name %></h3>

    <% dishes.each do |dish| %>
      <div class="dish-cart d-inline-block my-3 mx-2 p-2 align-items-center">
        <img class="mx-auto d-block mb-3 dish-img" src="/dishes/<%=dish.image_path%>">
        <p class="h5"><%= dish.name %></p>
        <div class="d-inline-block me-3 my-3"><%= dish.calories %>
          <%=t(:calories)%></div>
        <div class="d-inline-block my-3"><%= dish.weight %>
          <%=t(:gramm)%></div>
        <div class="dish-descr"><%= dish.description %></div>
        <div class="d-inline-block h6"><%= dish.price %>₽</div>
        <div class="d-inline-block float-end">
          <%= button_to "#{t(:add_to_cart)}", menu_add_dish_url(:format => "json", id: dish.id), :method => "post",remote: true, :class => "upd-cart mb-3 add-btn _btn-primary" %>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
