<div id ="create-order-block" class="w-25">
<%= form_with  url: order_create_url, :method => 'post', id: 'create-order-form' do  |form| %>
  <h1 class="h2 mb-3 fw-normal">Оформление заказа</h1>
  <% if @error %>
    <h3 class="h3 my-3 fw-normal clr-red"><%=@error%></h1>
  <%end%>
    <div class="form-floating mb-3 form-label-group">
        <%= form.telephone_field(:phone, readonly: true, value: "#{current_user.phone}", class: "form-control d-inline my-2", id: 'phone-input') %>
        <label for="phone-input">телефон</label>
    </div>
    <div class="form-floating mb-5 form-label-group">
        <%= form.text_field(:address, maxlength: 256, class: "form-control d-inline my-1", id: 'address-input', required: true, pattern: "^[0-9A-Za-zА-Яа-яЁё\s\,\;\\-\\\.(\)\№\#\\\\/]{10,}$" ) %>
        <span ></span>
        <p class="">Москва, Измайловский проспект, 73/2</p>
        <label for="code-input">адрес доставки</label>
    </div>
    <div class="form-floating mb-3 form-label-group">
        <%= form.text_area(:comment, class: "form-control d-inline my-1", maxlength: 256,  id: 'commen-input' ) %>
        <p class="">Расскажите, как Вас найти или о своих пожеланиях к блюдам</p>
        <label for="code-input">комментарий к заказу</label>
    <%= form.submit('Подтвердить',  class: "h-3 rem-3 w-100  _btn-primary mt-3") %>
    </div>
    <% end %>
</div>

<div class=" d-flex flex-column flex-shrink-0 w-25 p-3 mb-1 " id="order-cart-block">
  <div class="text-center">
    <p class=" b-3 mb-md-0 text-decoration-none clr-grey h3 ">Корзина
    </p>
  </div>
  <div class=" d-flex overflow-auto p-1 mt-3 mb-md-0 mr-md-3 " id="cart">

  </div>
  <div class="mt-3 text-end pe-4">
    <span class=" text-decoration-none clr-grey h3 ">Итого: <span id="total-price">0</span>₽
    </span>
  </div>
</div>
